body {
	
    font-family: 'Barlow';
	background: linear-gradient(to top, #BF360C, #FFA726);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.card-body h2 {
	font-color:#D84315;
}
html {

    height: 100%;
}
.text-muted{
    color:white;
}
