body {
	
    font-family: 'Barlow';
	background: linear-gradient(to top, #BF360C, #FFA726);
	height: 120%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment:repeat-x;

}


html {

    height: 120%;
  
}
.text-muted{
    color:white;
}
.card-img-top
{

    width:100%;
}