body {
	
    font-family: 'Barlow';
	background: linear-gradient(to top, #BF360C, #FFA726);
	height: 100%;
    margin-bottom: -100px;

    background-attachment:repeat-x;

}



.card-img-top
{

    width:100%;
}