{% extends 'base.html' %}
{% load static %}



{% block title %}Movies{% endblock title %}



{% block body %}
<h1>Movies List</h1>
<ul>
	{% for element in reviewlist %}
	<div class="card" style="width: 500px" >
  <div class="card-body">
  	<a class = "card-link" href="{% url 'review' element.id %}">

  		<li> <h2> {{ element.movie_name }} ( {{ element.release_year }} ) </h2>
        <h5 class="text-muted" >   Added {{ element.created_at|timesince }} Ago</h5>
        <h3> Rating : {{ reviews.rating }}  out of 5</h3>  </li>
    </a>
 	</div>
 </div>
	{% endfor %}
  	</ul>
	{% if request.user.is_authenticated %}
		<button class = "btn-primary" href="{% url 'addreview' %}">Add a Review!</button>
 	{% endif %}


{% endblock body %}
