body {

	font-family: 'Barlow';
	   
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(151,10,130,1) 0%, rgba(33,33,33,1) 100.2% );
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.card-body h2 {
	font-color:#D84315;
}
html {
    height: 100%;
}
.navbar-default {
    color: #D84315;
    background-color: #D84315;
}
